<div class="column">
    <nav class="panel">
        <p class="panel-heading">Who To Follow</p>
    <div class="panel-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-32x32">
                    <%# <%= image_tag("tronald.jpg", alt: "Tronald") %> 
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                    <strong>Tronald Trump</strong>
                    <small>@tronald</small>
                    </p>
                </div>    
            </div>
        </article>
    </div>
    <div class="panel-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-32x32">
                    <%# <%= image_tag("bustinj.jpeg", alt: "Bustin") %> 
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                    <strong>Bustin Jieber</strong>
                    <small>@therealbj</small>
                    </p>
                </div>    
            </div>
        </article>
    </div>
    <div class="panel-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-32x32">
                    <%# <%= image_tag("saylor.jpg", alt: "Saylor") %> 
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                    <strong>Saylor Twift</strong>
                    <small>@saysay</small>
                    </p>
                </div>    
            </div>
        </article>
    </div>
        <div class="panel-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-32x32">
                    <%# <%= image_tag("lukey.jpg", alt: "Luke") %> 
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                    <strong>Luke Colcott</strong>
                    <small>@lukeylunchbox</small>
                    </p>
                </div>    
            </div>
        </article>
    </div>
</nav>

</div>
