/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 

 @import "bulma";
 @import url('https://fonts.googleapis.com/css?family=Baloo');

 *{
     font-family: Helvetica, sans-serif;
 }

 html {
     background-color: rgb(255, 251, 239);
 }

 .navbar-brand .title{
     color: white;
     font-size: 42px;
     background: none;
 }

 .image {
     border-radius: 50%;
    img{
        border-radius: 50%;
    }
 }

 .notifications:not(:last-child){
     margin-bottom: 0;
 }

 .title {
    background-color: rgb(255, 204, 0);
    font-family: 'Baloo', cursive;
 }

 .navbar-item {
    background-color: rgb(255, 204, 0);
 }

 #navbarExample {
     background-color: rgb(255, 204, 0);
 }

 .navbar-menu {
    background-color: rgb(255, 204, 0);
 }

 .icon {
     color: rgb(255, 204, 0);
 }

 .button.is-info.is-inverted {
    color: white;
    background-color: rgb(255, 204, 0);
    font-size: 1.2em;
}

.button.is-info {
    font-size: 1.2em;
    font-weight: bold;
    background-color: rgb(255, 204, 0);

&:hover{
    background-color: rgb(255, 204, 0);
}}

.field.is-grouped {
    padding-top: 9px;
    padding-right: 9px;
}

.box {
    background: #FEFEFE;
}

.title.is-2 {
    background: none;
}

.title:not(:last-child), .subtitle:not(:last-child) {
    background: none;
}

.title.is-6 {
    background: none;
}

